

// .recipe-header-card {
//   background-color: $my-orange;
//   height: 380px;
//   width: 100%;
//   box-shadow: 2px 2px 2px lightgrey;
//   border-radius: 5px;
//   margin-bottom: 2rem;
// }

.recipe-title {
  color: black;
  width: 70%;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.form-control {
  height: 58px;
}

.fridge-card-container {
  width: 100%;
  background: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 7px;

  h3 {
    font-weight: 700;
  }

  li {
    list-style-type: none;
  }
}

.fridge-card-button {
  width: 94%;
  margin-left: 14px;
  margin-bottom: 8px;
}

.recipe-buttons {
  margin-top: 50px;
  margin-right: 5px;

  button {
    margin-left: 8px;
  }

  .ingredient-button {
    background-color: $my-orange;
    border: 0px;
    border-radius: 15px;
    padding: 14px 20px;
    width: fit-content;
    color: black;
    text-decoration: none;
    margin-right: 10px;
  }
}

.fridge-search-button {
  width: 100%;
  padding: 0 1rem 1rem 1rem;

  button {
    width: 100%;

  }
}

.new-navbar {
  height: 100px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: 0.7s;
  // .navbar-btn {
  //   color: white;
  //   border: 1px solid white;
  // }
}

.new-navbar.active {
  background-color: #2d2b2b;
  transition: 0.7s;
  // DEFINE ANY ELEMENTS THAT CHANGE WITH ACTIVE STATE HERE
  // .navbar-btn {
  //   color: white;
  //   border: 1px solid white;
  // }
}


.leftovers-logo {
  height: 50px;
  margin-right: 40px;
  background-image: asset-url("new-leftovers.svg");
  background-size: cover;
}
