
// Specific CSS for your home-page
.landing {
  height: 700px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/030/269/816/large_2x/the-best-foodgraphy-tips-for-beginners-ai-generated-free-photo.jpg");
  background-size: cover;
  width: 100%
}

.landing {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.landing h1 {
  color: white;
  font-size: calc(1.625rem + 4.5vw);
  padding-top: 10%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.237);
  font-family: "Inria Serif", serif;
  font-style: normal
}

.landing h2 {
  color: white;
}

.text-container {
  width: 60vw;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
  margin-bottom: 90px;
}

.text-container h3 {
  color: #0e327f;
  font-family: "Inria Serif", serif;
  font-style: normal
}

.carousel {
  align-items: center;
  display: flex;
  width: 100vw;
  height: 469px;
  overflow-x: scroll;
  justify-content: center;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.carousel img {
  width: 50%;
  height: auto;
  margin: 10px;
}

.carousel::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
