
.recipe-container {
  width: 80%;
  margin: 0 auto 30px auto;
}

.recipe-photo {
  margin-right: 20px;
  width: 35%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.recipe-header {
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
}

.recipe-info {
  border: 3px solid $my-blue;
  border-radius: 5px;
  padding: 10px 10px 10px 20px;
  flex-grow: 1;
}

.recipe-info-details {
  margin: 20px;

  p {
    font-size: 20px;
    margin-right: 20px;
  }
}

.recipe-details-container {
  width: 100%;
  gap: 20px;
  height: 700px;
}

.recipe-ingredient-card {
  border: 3px solid $my-blue;
  border-radius: 5px;
  padding: 10px;
  width: 25%;
}

.recipe-instructions {
  background-color: $my-green;
  border: 2px solid $my-blue;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
}
