
.recipe-container {
  width: 80%;
  margin: 0 auto 30px auto;
}

.recipe-photo {
  margin-right: 20px;
  width: 25%;
  flex-shrink: 0;

  img {
    object-fit: contain;
    border-radius: 5px;
    height: 100%;
  }
}

.recipe-header {
  width: 100%;
  margin-bottom: 20px;
}

.recipe-info {
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
}

.recipe-details-container {
  width: 100%;
  gap: 20px;
  height: 700px;
}

.recipe-ingredient-card {
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 30%;
}

.recipe-instructions {
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
}
