// .recipe-header-card {
//   background-color: #F7E2CA;
//   margin: 5px;
//   border: 2px solid black;
//   border-radius: 7px;
//   padding: 4px;
//   height: 220px;
//   justify-content: space-between;
// }

.recipe-title {
  color: black;
  margin-top: 18px;
  margin-left: 18px;
}

form {
  // justify-self: flex-start;
  // // position: absolute;
  margin-top: 10px;
  // margin-left: 18px;
}

.fridge-card {
  border: 2px solid black;
  border-radius: 7px;
  margin: 15px;
  padding: 12px;
}

button {
  margin-top: 8px;
  background-color: #FCA311;
  border: 0px;
  border-radius: 15px;
  padding: 10px;
  width: fit-content;
}

// button & form is changing ALL buttons. should also be in application.scss
// justify-content can go in bootstrap classes
// all navbar styles to go into _navbar
