
<%= render 'shared/banner', image_url: "https://iso.500px.com/wp-content/uploads/2020/02/Sushi-and-sashimi-variety-on-rustic-background-By-Alena-Haurylik-2.jpeg", title: "My Recipes", class: "favourites-banner" %>
<div class="container py-4">
  <div class="recipe-favourites-container">
    <% @favourites.each do |favourite| %>
      <%= render "recipes/card", :recipe => favourite.recipe %>
    <% end %>
  </div>
</div>
