

<h1>Recipe Book</h1>
<div class="recipe-favourites-container">
<% @favourites.each do |favourite| %>
  <div class="recipe-favourites-card">
<%= render "shared/card", :recipe => favourite.recipe %>
      </div>
    </div>
<% end %>
</div>
