<%= render "shared/navbar" %>
<div class="recipes-index-content">
  <div class="recipes-index-card-container">
    <%= render "shared/card" %>
    <%= render "shared/card" %>
    <%= render "shared/card" %>
  </div>
  <div class="recipes-index-filters">
  </div>
</div>
