<%= render "shared/navbar" %>
<div class="recipes-index-content">
  <div class="recipes-index-card-container">
    <% if @recipes == false %>
      <p>You got 99 problems but a recipe card ain't one</p>
    <% else %>
      <% @recipes.each do |recipe| %>
        <%= render "shared/card", :recipe => recipe %>
      <% end %>
    <% end %>
  </div>
  <div class="recipes-index-filters">
  </div>
</div>
