
<div class="recipe-container">
  <div class="recipe-header-card d-flex flex-row">
    <div class="recipe-title d-flex flex-column">
      <h5><%= @recipe.title %></h5>
      <form class="d-flex align-items-center" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button> Recipe Book </button>
    </div>
  <div class="fridge-card d-flex">
    <p>Your Ingredients</p>
  </div>
  </div>
</div>
