<div style="background-image: url('<%= image_url %>'); background-size: cover; height: 300px;" class="w-100 d-flex align-items-center justify-content-center text-center">
  <h1 class="text-white text-shadow"><%= title %></h1>
</div>
