<div class="recipes-index-card">
  <div class="recipes-index-card-content">
    <h2 class="recipes-index-card-title">
      <Meaty stew with carrots>
    </h2>
    <p class="recipes-index-card-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <div class="recipes-index-card-info">
      <p class="recipes-index-card-servings">6 servings</p>
      <i class="fa-solid fa-circle recipes-index-card-heart-circle"></i>
      <p class="recipes-index-card-time">15 mins</p>
      <i class="fa-regular fa-heart recipes-index-card-heart"></i>
    </div>
  </div>
  <div class="recipes-index-card-image">
    <%= image_tag "pizza.jpg" %>
  </div>
</div>
