<div class="recipes-index-card" data-controller="favourites">
  <div class="recipes-index-card-content">
    <h2 class="recipes-index-card-title">
      <%= recipe.title %>
    </h2>
    <p class="recipes-index-card-text">
      recipe.description
    </p>
    <div class="recipes-index-card-info" data-favourite-target="recipe">
      <p class="recipes-index-card-servings">6 servings</p>
      <i class="fa-solid fa-circle recipes-index-card-heart-circle"></i>
      <p class="recipes-index-card-time">15 mins</p>
      <i data-action="click->create-favourite#createFavourite" class="fa-regular fa-heart recipes-index-card-heart"></i>
      <%# <button> <%= link_to "Add to Favourites", new_recipes_favourite_path(recipe_id:[:recipe_id]), method: :post%> 
    </div>
  </div>
  <div class="recipes-index-card-image">
    <%= image_tag "pizza.jpg" %>
  </div>
</div>
