  <div class="recipe-header-card d-flex justify-content-between">
    <div class="recipe-title d-flex flex-column justify-content-between">
      <h1>TITLETITLETITLE</h1>
      <form class="d-flex flex-column justify-content-between" role="search">
        <input class="form-control me-2" type="search" placeholder="Add Ingredient" aria-label="Search">
        <div class="recipe-buttons d-flex">
          <button type="submit">Add Ingredent</button>
          <button>Recipe Book</button>
        </div>
      </form>
    </div>
  <div class="fridge-card-container d-flex flex-column">
    <div class="fridge-card d-flex">
      <h2>Your Ingredients</h2>
    </div>
    <button class="fridge-card-button">Search Button</button>
  </div>
  </div>
