<div class="">
<div class="landing">
<h1>LeftOvers</h1>
<h2>- Learn To Leave Nothing - </h2>
</div>

</div>
<div class="text-container">
<h3><strong>Grants you hundreds of recipes</strong></h3>
<h4> You could make them <em>right now</em> based on the ingredients in your fridge,
<em>right now</em>! Just fill out your LeftOvers' Fridge with ingredients
  and see what you could be making... <strong>right now</strong>! Thumb stopping,
  lip schmacking, dare we say they're drool worthy recipes that are not art form
  but the essential ingredient to making LeftOvers a must visit.
</h4>
</div>

<div class="carousel">
<%=image_tag("booiief.jpeg")%>
<%=image_tag("tart n crem.jpeg")%>
<%=image_tag("foodnshit.jpeg")%>
<%=image_tag("Meatbowl.jpeg")%>

<div>
