<div class="container-fluid text-center position-relative text-white">
<div class="landing">
<h1>LeftOvers<h1>
<p>- Learn To Leave Nothing - </p>
</div>
</div>
</div>
<p>LeftOvers grants you access to hundreds of recipes you could make right now based on the ingredients in your fridge. Just fill out your LeftOvers' Fridge with your ingredients and see what you could be making now! Thumb stopping, lip schmacking, dare we say they're drool worthy recipes are an art form and an essential ingredient to making LeftOvers a must visit.</p>
