<div class="">
<div class="landing">
<h1>LeftOvers</h1>
<h2>- Learn To Leave Nothing - </h2>
</div>

</div>
<div class="text-container">
<h3><strong>Grants you access to hundreds of recipes<strong></h3>
<h4> You could make right now based on the ingredients in your fridge. Just fill out your LeftOvers' Fridge with ingredients and see what you could be making now! Thumb stopping, lip schmacking, dare we say they're drool worthy recipes are an art form and an essential ingredient to making LeftOvers a must visit.
</h4>
</div>

<div class="carousel">
<img src="../assets/images/booiief.jpeg">
<div>
