.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.recipe-header-card {
  background-color: $my-bg-colour;
  height: 380px;
  width: 100%;
  border: 3px solid black;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.recipe-title {
  color: black;
  width: 70%;
  padding: 1.5rem;
}

.form-control {
  height: 58px;
}

.fridge-card-container {
  width: 30%;
}

.fridge-card {
  border: 2px solid black;
  border-radius: 7px;
  margin: 15px;
  padding: 12px;
  flex-grow: 1;
}

.fridge-card-button {
  width: 94%;
  margin-left: 14px;
  margin-bottom: 8px;
}

.recipe-buttons {
  margin-top: 50px;
  margin-right: 5px;

  button {
    margin-right: 8px;
  }
}
